footer.container.colophon
  .wrap
    .grid
      .col-12-12
        hr
        h2 Colophon

        p Fonts used :
          | headings:
          a(href="https://fonts.google.com/specimen/Fjalla+One")  Fjalla One

          |  | navigation:
          a(href="https://fonts.google.com/specimen/Comfortaa")  Comfortaa
          |  | body copy:
          a(href="https://fonts.google.com/specimen/Roboto")  Roboto

        p
        |  Created with:
        a(href="https://harpjs.com/")  HarpJS
        |  &
        a(href="https://gulpjs.com/")  GulpJS
        |  &
        a(href="/")  Útil

        p
        span.cc CC
        |  | Creative Commons |
        a(href="http://tech-mex.io")  Tech-Mex.io
script(src="/js/app.js")